// Custom palette primary created with: http://mcg.mbitson.com/
$mat-rx-purple: (
  50 : #eae0f2,
  100 : #cab3dd,
  200 : #a780c7,
  300 : #844db1,
  400 : #6926a0,
  500 : #4f008f,
  600 : #480087,
  700 : #3f007c,
  800 : #360072,
  900 : #260060,
  A100 : #b290ff,
  A200 : #8e5dff,
  A400 : #6a2aff,
  A700 : #5811ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

// Custom palette secondary created with: http://mcg.mbitson.com/
$mat-rx-pink: (
  50 : #ffe0f2,
  100 : #ffb3de,
  200 : #ff80c8,
  300 : #ff4db2,
  400 : #ff26a2,
  500 : #ff0091,
  600 : #ff0089,
  700 : #ff007e,
  800 : #ff0074,
  900 : #ff0062,
  A100 : #ffffff,
  A200 : #fff2f6,
  A400 : #ffbfd4,
  A700 : #ffa6c2,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$rx-primary: mat-palette($mat-rx-purple);
$rx-accent: mat-palette($mat-rx-pink, A200, A100, A400);
$rx-warn: mat-palette($mat-red);

$rx-theme: mat-light-theme($rx-primary, $rx-accent, $rx-warn);
